/*
 Theme Name:   leweb Custom Child
 Template:     leweb_custom
*/
@import url("../leweb_custom/style.css");
/* =Theme customization starts here
-------------------------------------------------------------- */
body {
  background: #f0efee;
  font-family: Lato;
  font-weight: 400; }

#logo-acem {
  width: 300px;
  float: left;
  z-index: 1000;
  position: relative; }

.home.page .container {
  padding: 0 !important; }

#wrapper, .boxed #wrapper {
  max-width: 840px !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.menu-item-custom-lang {
  display: none !important; }

#menu-top > li > a, #menu-top-anglais0 > li > a {
  border-right: 1px solid #333;
  padding: 0 10px;
  margin: 15px 0 0; }
#menu-top > li, #menu-top-anglais0 > li {
  position: relative; }
  #menu-top > li ul, #menu-top-anglais0 > li ul {
    position: absolute;
    display: block;
    width: 100px;
    left: 0 !important; }
#menu-top .menu-item-custom-lang, #menu-top-anglais0 .menu-item-custom-lang {
  display: inherit !important; }

#menu-top, #menu-top-anglais0, .container.search {
  font-family: Lato;
  display: inline-block; }

#menu-top a, #menu-top-anglais0 a, .toggle-search {
  color: #000 !important;
  font-size: 12px;
  margin-left: -10px; }

.nav-wrap {
  position: relative;
  text-align: right; }
  .nav-wrap .current_page_item {
    color: #adbd37; }
  .nav-wrap .search-expand {
    background: #26272b;
    position: absolute;
    top: 45px;
    right: 0;
    width: 340px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1); }
    .nav-wrap .search-expand .search-expand-inner {
      padding: 0; }

.nav-wrap .toggle-search {
  position: relative;
  display: inline-block;
  margin-left: 0px;
  padding: 10px;
  cursor: pointer; }

#menu-second, #menu-second-anglais0 {
  font-family: 'Lato', sans-serif;
  text-align: right;
  width: 545px;
  margin-right: 0;
  top: 82px; }
  #menu-second a, #menu-second-anglais0 a {
    width: 100px;
    max-width: 100px;
    text-align: center;
    margin-left: 6px;
    color: #fff;
    padding: 10px 14px;
    font-size: 15px; }
  #menu-second .sub-menu .current_page_item, #menu-second-anglais0 .sub-menu .current_page_item {
    font-weight: bold; }
  #menu-second li:nth-of-type(1) .sub-menu > li:first-of-type:before, #menu-second-anglais0 li:nth-of-type(1) .sub-menu > li:first-of-type:before {
    background: url("/wp-content/uploads/2014/09/icon_Entrepreneur.png") center/110% no-repeat;
    content: '';
    display: inline-block;
    margin-left: 15px;
    margin-right: -12px;
    width: 22px;
    height: 19px;
    top: 6px;
    position: relative; }
  #menu-second li:nth-of-type(2) .sub-menu > li:first-of-type:before, #menu-second-anglais0 li:nth-of-type(2) .sub-menu > li:first-of-type:before {
    background: url("/wp-content/uploads/2014/09/icon_Futur_entrepreneur.png") center/103% no-repeat;
    content: '';
    display: inline-block;
    margin-left: 15px;
    margin-right: -12px;
    width: 22px;
    height: 19px;
    top: 6px;
    position: relative; }
  #menu-second li:nth-of-type(4) .sub-menu > li:first-of-type:before, #menu-second-anglais0 li:nth-of-type(4) .sub-menu > li:first-of-type:before {
    background: url("/wp-content/uploads/2014/09/icon_Donateur.png") center/110% no-repeat;
    content: '';
    display: inline-block;
    margin-left: 15px;
    margin-right: -12px;
    width: 22px;
    height: 19px;
    top: 6px;
    position: relative; }
  #menu-second li:nth-of-type(3) .sub-menu > li:first-of-type:before, #menu-second-anglais0 li:nth-of-type(3) .sub-menu > li:first-of-type:before {
    background: url("/wp-content/uploads/2014/09/icon_Professionnel_immigrant.png") center/110% no-repeat;
    content: '';
    display: inline-block;
    margin-left: 15px;
    margin-right: -12px;
    width: 22px;
    height: 19px;
    top: 6px;
    position: relative; }

#menu-second > li > a, #menu-second-anglais0 > li > a {
  text-align: center; }

.search-expand-inner {
  background: rgba(0, 0, 0, 0.15);
  padding: 9px; }

#header, #nav-topbar.nav-container {
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 0; }

#nav-header.nav-container {
  box-shadow: none; }

#page.container {
  background: none;
  border: none;
  box-shadow: none; }
  #page.container .container-inner {
    background: none;
    border: none;
    box-shadow: none; }
    #page.container .container-inner .main {
      background: none;
      border: none;
      box-shadow: none; }

[title="financement"] {
  background: #adbd37; }
  [title="financement"].hover {
    border-bottom: 7px solid #adbd37;
    margin-bottom: -7px; }

[title="formation"] {
  background: #5772a3; }
  [title="formation"].hover {
    border-bottom: 7px solid #5772a3;
    margin-bottom: -7px; }

#menu-second a[title="reconnaissance"], #menu-second-anglais0 a[title="reconnaissance"] {
  background: #ec7323;
  padding: 4px 15px;
  position: relative;
  top: 8px;
  line-height: 16px; }
  #menu-second a[title="reconnaissance"].hover, #menu-second-anglais0 a[title="reconnaissance"].hover {
    border-bottom: 8px solid #ec7323;
    margin-bottom: -8px; }

[title="investir"] {
  background: #838487; }
  [title="investir"].hover {
    border-bottom: 7px solid #838487;
    margin-bottom: -7px; }

#menu-second a:after, #menu-second-anglais0 a:after {
  display: none; }

#sub-menu-box {
  width: 100%;
  height: 40px;
  background: #000;
  position: relative;
  top: 0px;
  transition: .3s;
  text-align: right; }

#menu-second > li:nth-of-type(3) ul, #menu-second-anglais0 > li:nth-of-type(3) ul {
  top: 51px; }

#sub-menu-box a {
  position: relative;
  top: 8px; }
  #sub-menu-box a:last-of-type {
    margin-right: 10px; }

ul.sub-menu {
  width: 740px;
  text-align: left;
  background: none !important;
  box-shadow: none;
  top: 42px; }

.sub-menu li {
  display: inline; }

#menu-second .sub-menu li:first-of-type a, #menu-second-anglais0 .sub-menu li:first-of-type a {
  margin-left: 15px; }
#menu-second .sub-menu li:last-of-type a, #menu-second-anglais0 .sub-menu li:last-of-type a {
  background: none; }
#menu-second .sub-menu li a, #menu-second-anglais0 .sub-menu li a {
  display: inline;
  padding: 0 7px 0 5px;
  font-size: 13px;
  margin-right: -9px;
  background: url("/wp-content/themes/leweb_custom_child/img/menu-separator.gif") right center no-repeat; }
#menu-second .sub-menu li img, #menu-second-anglais0 .sub-menu li img {
  float: left;
  position: relative;
  top: -4px;
  left: 4px;
  margin-right: -3px; }

/*#menu-second .sub-menu li:after {
    content: "|";
    position: relative;
    font-size: 20px;
}*/
.nav ul li {
  position: relative;
  display: inline; }
.nav li:hover > ul, .nav li > ul {
  display: none; }

.pad.group {
  padding: 22px 0; }

.large img {
  width: 100%; }

.bande-couleur {
  background-image: url("/wp-content/uploads/2014/09/bande_couleurs.png");
  width: 100%;
  height: 5px;
  margin-bottom: 3px;
  display: block;
  background-size: cover; }

#footer {
  background: none !important;
  min-width: 840px; }
  #footer .footer-content {
    max-width: 890px;
    margin: -3px auto 0;
    box-sizing: border-box;
    background: white;
    padding: 15px 25px;
    color: #333;
    font-size: 80%;
    vertical-align: top;
    display: table; }
  #footer .infos {
    display: table-cell;
    vertical-align: top;
    width: 33%;
    padding-right: 40px; }
    #footer .infos .logo {
      height: 120px; }
    #footer .infos p {
      margin: 5px 0;
      line-height: 120%; }
    #footer .infos .sitename {
      font-weight: bold;
      font-size: 120%; }
  #footer .footer-menu {
    display: table-cell;
    vertical-align: top;
    width: 40%; }
    #footer .footer-menu li {
      line-height: 125%;
      margin-top: 5px; }
    #footer .footer-menu .cols {
      columns: 2;
      -moz-columns: 2;
      -webkit-columns: 2; }
  #footer .social {
    display: table-cell;
    vertical-align: top;
    width: 35%; }
    #footer .social .social-icon {
      font-size: 150%;
      margin-right: 4px; }
    #footer .social .infolettre {
      margin: 10px 0;
      display: block;
      width: 100%;
      font-size: 120%;
      font-weight: bold;
      padding: 5px;
      border-radius: 2px; }
      #footer .social .infolettre:hover {
        background-color: #eee;
        box-shadow: 0 2px 3px #aaa; }
      #footer .social .infolettre img {
        margin-top: 5px;
        width: 36px;
        float: right; }
    #footer .social .logo-rqcc {
      display: block;
      margin-top: 8px; }
  #footer h1 {
    font-size: 130%;
    margin-bottom: 10px; }
  #footer a {
    color: #333;
    text-decoration: none; }
    #footer a:hover {
      color: black; }
  #footer .container-inner {
    width: 800px; }

.contributeurs .slider-contributeurs {
  width: 100%; }
  .contributeurs .slider-contributeurs .image {
    padding: 0 20px;
    display: block !important; }

#footer-bas {
  text-align: center;
  padding: 15px;
  background: #999;
  color: white;
  min-width: 840px;
  font-size: 80%; }
  #footer-bas a:hover {
    text-decoration: underline; }

#footer-widgets {
  background: #eee; }

.widget h3 {
  text-transform: none;
  font-weight: bold; }

.textwidget td {
  width: 40%; }

#nav-header .nav ul li {
  box-shadow: 1px black solid; }

.vc_col-sm-3 {
  width: 24% !important; }

.vc_col-sm-6 {
  /* width: 49%!important;*/ }

.entry p {
  margin-bottom: 15px; }

.line {
  height: 1px;
  width: 100%;
  margin: 15px 0;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAABCAYAAAD0In+KAAAAEUlEQVQIW2NMSEj4v2DBAkYAEo4EAp8d3WQAAAAASUVORK5CYII=) repeat; }

/**** Doownload ****/
.dlm-downloads li {
  list-style: none !important; }

.dp_download-box {
  width: 100%;
  padding: 10px; }

.dp_doc_box {
  border-bottom: 1px solid #666;
  margin-bottom: 15px; }

.dp_doc_date {
  color: #666; }

.dp_doc_title {
  text-transform: uppercase;
  color: #000; }

.dp_doc_content {
  display: table;
  border-bottom: 1px dotted #666;
  width: 100%; }

.dp_doc_image {
  width: 120px;
  display: table-cell;
  vertical-align: middle;
  text-align: center; }
  .dp_doc_image img {
    width: 60px; }

.dp_doc_desc {
  display: table-cell;
  vertical-align: text-top; }

.dp_post_image {
  float: left; }
  .dp_post_image img {
    width: 120px;
    padding: 0 10px 10px 0; }

.entry .vc_col-sm-6 {
  display: table-cell;
  float: none; }

/**** Evenements ****/
.dp_event_short {
  box-sizing: border-box;
  width: 33%;
  float: left;
  padding-left: 20px;
  text-transform: uppercase; }
  .dp_event_short:nth-of-type(2) {
    border-left: 1px solid #999;
    border-right: 1px solid #999; }
  .dp_event_short img {
    width: 80%;
    margin-top: 20px; }

.single-event .page-title {
  display: none; }

.home.page .vc_row {
  display: inline-flex; }

/**** Disable comments ****/
#comments {
  display: none; }

/**** non responsive ****/
#wrapper, #footer .container-inner {
  min-width: 840px;
  max-width: 840px; }

.container-inner {
  max-width: 100%;
  min-width: 100%; }

#footer .container-inner {
  margin: 0 auto; }
#footer .pad.group {
  padding-rigth: 20px;
  padding-left: 20px; }

/**** pages ****/
#page.container {
  box-sizing: border-box;
  margin-top: 15px;
  background: #fff;
  padding: 20px;
  border-top: 4px solid black; }

.page-title {
  text-align: center;
  font-size: 22px;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 0 0 14px 0;
  background: none;
  box-shadow: none;
  margin-bottom: 25px; }

#nav-header .container {
  padding: 0; }

/**** exceptions accueil et page ??? ****/
.home.page .page-title, .page-id-185 .page-title {
  display: none; }

.home.page #wrapper #page.container, .page-id-185 #page.container {
  border: none !important;
  background: transparent !important;
  padding: 20px 0 !important; }

.home.page .content, .page-id-185 .content {
  margin-top: -58px !important; }

.home.page .wpb_row {
  margin-bottom: 0; }

/**** testimonials ****/
.strong-container {
  border-top: 1px dotted #666;
  border-bottom: 1px dotted #666; }
  .strong-container .photo {
    width: 45%;
    padding-bottom: 36%;
    background-size: cover !important;
    background-position: 50% 50%; }
  .strong-container .inner {
    background: none !important;
    padding: 0 !important; }
  .strong-container .testimonial {
    border: 0px !important; }
  .strong-container .heading {
    font-size: 22px;
    background-image: none !important;
    margin-bottom: 0;
    padding: 0 !important; }
  .strong-container .client {
    text-align: left !important;
    width: 420px;
    float: right;
    border-bottom: 1px dotted #666;
    margin-top: 5px !important;
    padding-bottom: 10px; }
  .strong-container .simplePagerNav a {
    border: 1px solid #3b8dbd;
    padding: 10px;
    border-radius: 3px; }
  .strong-container .simplePagerNav .currentPage a {
    background: #3b8dbd;
    color: #fff; }
  .strong-container .name {
    color: #adbd37;
    margin-bottom: 5px; }
  .strong-container .client p {
    font-size: 16px;
    margin-bottom: 0px; }
  .strong-container a {
    color: #adbd37; }

/**** slider ****/
.tp-caption h2 {
  font-size: 20px; }
.tp-caption p {
  font-size: 18px; }

/* Pages sections*/
.page-template-section #page.container {
  border: none;
  border-top: none;
  background: none;
  padding-left: 0;
  padding-right: 0;
  box-sizing: border-box; }
  .page-template-section #page.container .cols {
    margin-bottom: 30px; }
    .page-template-section #page.container .cols .col {
      display: inline-block;
      width: 45%;
      padding: 10px;
      background: white;
      margin: 0; }
      .page-template-section #page.container .cols .col.col-right {
        float: right; }
  .page-template-section #page.container h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    color: #333;
    border-bottom: 2px solid #ccc;
    padding: 0 0 10px 0;
    margin-bottom: 10px; }
  .page-template-section #page.container .full-width {
    padding: 10px;
    background: white;
    margin-bottom: 30px; }

.items .item {
  margin: 15px 0; }
  .items .item:last-of-type {
    margin-bottom: 0; }
  .items .item .content {
    margin: 10px 0; }
  .items .item h2 {
    display: inline;
    text-transform: uppercase; }
    .items .item h2 a {
      color: #333; }
      .items .item h2 a:hover {
        color: black; }
  .items .item .more {
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    padding: 4px 0; }
    .items .item .more .jumplink {
      margin-right: 10px;
      color: inherit; }
      .items .item .more .jumplink:hover {
        color: black; }
      .items .item .more .jumplink:before {
        content: "> "; }

.clienteles {
  display: table;
  table-layout: fixed;
  border-spacing: 15px 0;
  margin: 15px -15px 25px;
  border-collapse: separate; }
  .clienteles .clientele {
    display: table-cell;
    width: 25%;
    text-align: center;
    color: white;
    padding: 10px 5px;
    font-size: 80%; }
    .clienteles .clientele .name {
      font-weight: bold; }

.center {
  text-align: center; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.home-content .home-slider {
  width: 100%;
  background-color: white;
  height: 300px; }
.home-content .bottom-info {
  display: table;
  border-collapse: separate;
  border-spacing: 15px 0;
  margin: 0 -15px; }
  .home-content .bottom-info > div {
    width: 50%;
    display: table-cell;
    padding: 15px;
    background: white; }
  .home-content .bottom-info .welcome h1 {
    color: #adbd37; }
.home-content h1 {
  text-transform: uppercase;
  text-align: center;
  font-weight: normal;
  font-size: 18px;
  color: #333;
  border-bottom: 2px dotted #ccc;
  padding: 0 0 10px 0;
  margin-bottom: 10px; }

.centre-documentation h2 {
  color: #333;
  text-transform: uppercase; }
  .centre-documentation h2 a {
    color: #333; }
  .centre-documentation h2:after {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background-color: #333;
    margin-top: -6px; }
.centre-documentation .content {
  margin: 20px 0; }
.centre-documentation .documents {
  columns: 3;
  -moz-columns: 3;
  -webkit-columns: 3;
  column-gap: 20px;
  -moz-column-gap: 20px;
  -webkit-column-gap: 20px; }
  .centre-documentation .documents.no-col {
    columns: 1;
    -moz-columns: 1;
    -webkit-columns: 1; }
  .centre-documentation .documents .items {
    break-inside: avoid-column;
    -webkit-column-break-inside: avoid; }
    .centre-documentation .documents .items a.all {
      display: block;
      color: #333;
      font-size: 80%; }
    .centre-documentation .documents .items .item {
      border-bottom: 1px dotted #ccc;
      padding-bottom: 15px; }
      .centre-documentation .documents .items .item:last-of-type {
        border-bottom: none; }
      .centre-documentation .documents .items .item .title {
        font-weight: bold;
        color: #ec7323; }
      .centre-documentation .documents .items .item .ext {
        font-size: 75%;
        margin-top: -4px; }
      .centre-documentation .documents .items .item .link {
        color: #adbd37; }
.centre-documentation .document .download {
  background-color: #adbd37;
  color: white;
  padding: 10px;
  margin: 10px 0;
  display: inline-block;
  width: auto;
  font-weight: bold; }
  .centre-documentation .document .download:hover {
    background-color: #c0cf58; }
.centre-documentation .document .description {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 2px dotted #ccc; }

.partenaires .liste-partenaires {
  columns: 2;
  -moz-columns: 2;
  -webkit-columns: 2;
  column-gap: 10px;
  -moz-column-gap: 10px;
  -webkit-column-gap: 10px;
  margin-top: 30px; }
  .partenaires .liste-partenaires .partenaire {
    break-inside: avoid-column;
    -webkit-column-break-inside: avoid;
    padding-bottom: 30px; }
    .partenaires .liste-partenaires .partenaire .logo {
      display: table-cell;
      width: 150px;
      height: 150px;
      float: left;
      margin-right: 10px;
      text-align: center; }
      .partenaires .liste-partenaires .partenaire .logo img {
        max-width: 100%;
        max-height: 100%; }
    .partenaires .liste-partenaires .partenaire .title {
      font-weight: bold;
      color: #333;
      margin-bottom: 5px; }
    .partenaires .liste-partenaires .partenaire .link {
      margin-top: 5px; }
      .partenaires .liste-partenaires .partenaire .link a {
        color: #adbd37;
        font-weight: bold; }
    .partenaires .liste-partenaires .partenaire .infos {
      margin-left: 170px; }

.container-slider-testimonials {
  width: 840px;
  height: 300px;
  position: relative;
  margin: 0;
  padding: 0; }
  .container-slider-testimonials .type-content {
    position: absolute;
    bottom: 20px;
    left: 25px;
    font-size: 80%;
    color: rgba(0, 0, 0, 0.4);
    margin: 0;
    padding: 0; }
  .container-slider-testimonials .slider-testimonials {
    margin: 0;
    padding: 0;
    overflow: hidden; }
    .container-slider-testimonials .slider-testimonials .slick-dots {
      position: absolute;
      bottom: 9px;
      left: 25px; }
      .container-slider-testimonials .slider-testimonials .slick-dots li {
        display: inline-block;
        margin-right: 6px; }
        .container-slider-testimonials .slider-testimonials .slick-dots li button {
          display: block;
          background-color: rgba(0, 0, 0, 0.3);
          font-size: 0;
          border: none;
          height: 6px;
          width: 20px;
          transition-property: background-color;
          transition-duration: 1s;
          cursor: pointer; }
        .container-slider-testimonials .slider-testimonials .slick-dots li.slick-active button {
          background-color: rgba(0, 0, 0, 0.6); }
    .container-slider-testimonials .slider-testimonials .testimonial {
      margin-left: -1px;
      width: 840px;
      height: 300px;
      position: relative;
      background-color: #005299;
      overflow: hidden; }
      .container-slider-testimonials .slider-testimonials .testimonial .image {
        position: absolute;
        height: 305px;
        right: 0; }
      .container-slider-testimonials .slider-testimonials .testimonial .infos {
        position: absolute;
        max-height: 300px;
        padding: 35px 25px;
        width: 400px; }
        .container-slider-testimonials .slider-testimonials .testimonial .infos h2 {
          color: #333;
          font-weight: normal;
          text-transform: uppercase;
          font-size: 105%; }
        .container-slider-testimonials .slider-testimonials .testimonial .infos .name {
          color: #adbd37;
          font-weight: bold; }
        .container-slider-testimonials .slider-testimonials .testimonial .infos .quote {
          margin: 10px 0; }
      .container-slider-testimonials .slider-testimonials .testimonial .matte-background {
        background: white;
        height: 400px;
        width: 500px;
        position: absolute;
        transform-origin: 50% 50%;
        transform: translate(-30px, -40px) rotate(-10deg);
        -ms-transform-origin: 50% 50%;
        -ms-transform: translate(-40px, -40px) rotate(-10deg);
        -webkit-box-shadow: 0px 0px 15px 0px rgba(5, 5, 5, 0.33);
        -moz-box-shadow: 0px 0px 15px 0px rgba(5, 5, 5, 0.33);
        box-shadow: 0px 0px 15px 0px rgba(5, 5, 5, 0.33); }

.testimonials-header {
  padding: 10px 10px 0;
  background: white; }
  .testimonials-header h1 {
    margin-bottom: 0 !important;
    border-bottom: none !important; }

.testimonials-margins {
  margin: 0 0 25px; }

.all-news {
  font-size: 90%; }
  .all-news .item {
    border-bottom: 1px dotted #ccc;
    padding: 7px 0; }
    .all-news .item .date {
      font-weight: normal;
      color: #666;
      margin-right: 4px; }
    .all-news .item .icon {
      margin-right: 4px;
      color: #5772a3; }
    .all-news .item h2 {
      font-weight: normal;
      text-transform: uppercase; }
      .all-news .item h2 a {
        color: #333; }
    .all-news .item:last-of-type {
      border-bottom: none;
      padding-bottom: 0; }

.evenement .masthead {
  width: 100%;
  display: table;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
  font-size: 95%; }
  .evenement .masthead .infos {
    vertical-align: top;
    display: table-cell;
    width: 40%; }
    .evenement .masthead .infos .contents {
      display: block;
      border: 2px solid #adbd37;
      padding: 0; }
      .evenement .masthead .infos .contents h2 {
        text-transform: uppercase;
        background-color: #adbd37;
        color: white;
        padding: 4px;
        text-align: center; }
      .evenement .masthead .infos .contents div {
        display: block;
        position: relative;
        border-bottom: 1px solid #ccc;
        padding: 4px 8px;
        font-weight: bold;
        text-transform: uppercase; }
        .evenement .masthead .infos .contents div.clearfix:after {
          content: "";
          display: block;
          clear: both; }
        .evenement .masthead .infos .contents div:last-of-type {
          border-bottom: none; }
        .evenement .masthead .infos .contents div .value {
          text-transform: none;
          float: right;
          color: #333; }
  .evenement .masthead .spacer {
    display: table-cell;
    width: 20px; }
  .evenement .masthead .image {
    display: table-cell;
    padding: 0;
    margin: 0;
    width: 60%;
    background-position: center;
    background-size: cover; }
.evenement .description {
  margin-top: 30px; }
  .evenement .description h2 {
    margin-bottom: 15px; }
  .evenement .description p {
    margin-top: 8px; }

h2.underlined {
  color: #333;
  text-transform: uppercase; }
  h2.underlined a {
    color: #333; }
  h2.underlined:after {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background-color: #333;
    margin-top: -6px; }

.archive-evenements .evenements .evenement {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px dotted #ccc; }
  .archive-evenements .evenements .evenement:last-of-type {
    border-bottom: none; }
  .archive-evenements .evenements .evenement .infos {
    margin-left: 270px; }
  .archive-evenements .evenements .evenement .coverimage {
    width: 250px;
    float: left; }
  .archive-evenements .evenements .evenement h2 a {
    color: #333; }
  .archive-evenements .evenements .evenement .date, .archive-evenements .evenements .evenement .location {
    color: #adbd37; }
  .archive-evenements .evenements .evenement .excerpt {
    margin: 5px 0; }
  .archive-evenements .evenements .evenement .more a {
    color: #adbd37;
    font-weight: bold; }

.section-events {
  width: 100%;
  display: table;
  table-layout: fixed;
  border-collapse: collapse; }
  .section-events .event {
    display: table-cell;
    width: 33%;
    border-right: 1px dotted #ccc;
    padding: 0 10px; }
    .section-events .event:last-of-type {
      border-right: none; }
    .section-events .event h2 a {
      color: #333; }
    .section-events .event .date, .section-events .event .location {
      font-size: 80%; }

.see-all {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  border-top: 1px solid #ccc;
  padding-top: 8px;
  font-weight: bold; }

.toc {
  border: 2px solid #adbd37;
  width: 250px;
  margin-right: 25px;
  margin-bottom: 10px;
  float: left;
  font-size: 90%; }
  .toc .title {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    background: #adbd37;
    text-align: center;
    padding-bottom: 2px; }
  .toc .toc-item {
    display: block;
    position: relative;
    border-bottom: 1px solid #ccc;
    padding: 4px 8px;
    font-weight: bold;
    color: #333; }
    .toc .toc-item:hover {
      background-color: rgba(204, 204, 204, 0.15);
      color: #89952c; }
    .toc .toc-item:last-of-type {
      border-bottom: none; }
    .toc .toc-item.toc-h3 {
      padding-left: 16px; }
    .toc .toc-item.toc-h4 {
      padding-left: 26px; }

.text {
  font-size: 16px; }
  .text h1, .text h2, .text h3, .text h4, .text h5, .text h6 {
    color: #333;
    text-transform: uppercase;
    margin: 10px 0;
    font-weight: bold; }
    .text h1 a, .text h2 a, .text h3 a, .text h4 a, .text h5 a, .text h6 a {
      color: #333; }
  .text h2 {
    font-size: 135%; }
  .text h3 {
    font-size: 110%; }
  .text h4 {
    font-size: 100%; }
  .text p {
    margin-bottom: 10px; }

.contact .contents {
  display: table;
  table-layout: fixed;
  line-height: 125%;
  width: 100%; }
  .contact .contents h2 {
    margin-top: 20px;
    color: #333;
    text-transform: uppercase;
    font-size: 18px; }
    .contact .contents h2:first-of-type {
      margin-top: 0; }
    .contact .contents h2:after {
      content: '';
      display: block;
      height: 2px;
      width: 100%;
      background-color: #333;
      margin-top: -3px; }
  .contact .contents .text {
    display: table-cell;
    width: 300px; }
    .contact .contents .text p {
      margin-bottom: 8px; }
    .contact .contents .text strong {
      color: #333; }
    .contact .contents .text a {
      font-weight: bold;
      color: #ec7323; }
  .contact .contents .map-container {
    display: table-cell;
    padding-left: 40px;
    /* fixes potential theme css conflict */ }
    .contact .contents .map-container .acf-map {
      width: 100%;
      height: 400px;
      border: #ccc solid 1px;
      margin: 20px 0; }
    .contact .contents .map-container .acf-map img {
      max-width: inherit !important; }

.salle-de-presse .content {
  margin-bottom: 25px; }
.salle-de-presse .container {
  display: table;
  table-layout: fixed;
  width: 100%; }
  .salle-de-presse .container .left-content {
    display: table-cell;
    width: 280px; }
  .salle-de-presse .container .right-content {
    display: table-cell;
    width: auto;
    padding-left: 30px; }
.salle-de-presse .all {
  font-size: 85%;
  color: #333;
  margin-bottom: 10px;
  display: table; }
.salle-de-presse .recent-events .event {
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #ccc; }
  .salle-de-presse .recent-events .event:last-of-type {
    border-bottom: none; }
  .salle-de-presse .recent-events .event .title {
    color: #333;
    font-weight: bold; }
  .salle-de-presse .recent-events .event .date {
    font-size: 85%; }
  .salle-de-presse .recent-events .event .content {
    margin: 4px 0; }
  .salle-de-presse .recent-events .event .link {
    color: #adbd37; }

.press-releases .item {
  line-height: 120%;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px dotted #ccc; }
  .press-releases .item:last-of-type {
    border-bottom: none; }
  .press-releases .item .title {
    font-weight: bold;
    color: #333; }
  .press-releases .item .infos {
    font-size: 85%; }
  .press-releases .item .excerpt {
    margin: 4px 0; }
  .press-releases .item .more {
    color: #adbd37; }

.single-presse .download {
  margin-top: 10px;
  display: inline-block;
  background-color: #adbd37;
  color: white;
  font-weight: bold;
  padding: 8px 10px;
  min-width: 250px;
  text-align: center; }
  .single-presse .download:hover {
    background-color: #b9c945; }
.single-presse .content {
  border-top: 1px solid #ccc;
  margin-top: 20px;
  padding-top: 15px; }

.post-single .publish-date {
  margin-top: -10px; }
.post-single .text {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px dotted #ccc; }
.post-single .next-prev {
  margin-top: 20px;
  border-top: 1px dotted #ccc; }
  .post-single .next-prev .title {
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    color: #333;
    border-bottom: 1px dotted #ccc; }
  .post-single .next-prev .prev {
    border-right: 1px dotted #ccc; }
  .post-single .next-prev .both {
    display: table;
    table-layout: fixed;
    width: 100%; }
    .post-single .next-prev .both .prev, .post-single .next-prev .both .next {
      display: table-cell;
      width: 40%;
      padding: 10px;
      text-align: center;
      border-bottom: 1px dotted #ccc; }

.section-tags {
  margin: 4px 0; }
  .section-tags i {
    position: relative;
    margin-right: 6px;
    color: #bfbfbf;
    top: 2px; }
  .section-tags .tag {
    font-size: 80%;
    color: white;
    font-weight: bold;
    padding: 2px 3px;
    line-height: 100%;
    margin-right: 5px; }

.search-results {
  width: 100%; }
  .search-results .result {
    padding: 15px 0px;
    border-bottom: 1px dotted #ccc; }

span.loc-post-type {
  font-weight: normal;
  color: #aaa; }

/*# sourceMappingURL=style.css.map */
