/*
 Theme Name:   leweb Custom Child
 Template:     leweb_custom
*/
@import url("../leweb_custom/style.css");
$offBlack: #333;
$separateurs: #ccc;
$green: #adbd37;
$blue: #5772a3;
$orange: #ec7323;
$grey: #838487;

/* =Theme customization starts here
-------------------------------------------------------------- */

body {
	background: #f0efee;
	font-family: Lato;
	font-weight: 400;
}

#logo-acem {
	width: 300px;
	float: left;
	z-index: 1000;
	position: relative;
}

.home.page .container {
	padding: 0 !important;
}

#wrapper, .boxed #wrapper {
	max-width: 840px !important;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.menu-item-custom-lang {
	display: none !important;
}

#menu-top, #menu-top-anglais0 {
	& > li > a {
	border-right: 1px solid $offBlack;
	padding: 0 10px;
	margin: 15px 0 0;
	}

	& > li {
		position: relative;
		ul {
			position: absolute;
			display: block;
			width: 100px;
			left: 0 !important;
		}
	}

	.menu-item-custom-lang {
		display: inherit !important;
	}
}

#menu-top, #menu-top-anglais0, .container.search {
	font-family: Lato;
	display: inline-block;
}

#menu-top a, #menu-top-anglais0 a, .toggle-search {
	color: #000 !important;
	font-size: 12px;
	margin-left: -10px;
}

.nav-wrap {
	position: relative;
	text-align: right;

	.current_page_item {
		color: $green;
	}

	.search-expand {
		background: #26272b;
		position: absolute;
		top: 45px;
		right: 0;
		width: 340px;
		-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
		box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);

		.search-expand-inner {
			padding: 0;
		}
	}
}

.nav-wrap .toggle-search {
	position: relative;
	display: inline-block;
	margin-left: 0px;
	padding: 10px;
	cursor: pointer;
}

#menu-second, #menu-second-anglais0 {
	font-family: 'Lato', sans-serif;
	text-align: right;
	width: 545px;
	margin-right: 0;
	top: 82px;

	a {
		width: 100px;
		max-width: 100px;
		text-align: center;
		margin-left: 6px;
		color: #fff;
		padding: 10px 14px;
		font-size: 15px;
	}



	.sub-menu .current_page_item {
		font-weight: bold;
	}

	// Financement
	li:nth-of-type(1) .sub-menu > li:first-of-type {
		&:before {
			background: url('/wp-content/uploads/2014/09/icon_Entrepreneur.png') center/110% no-repeat;
			content: '';
			display: inline-block;
			margin-left: 15px;
			margin-right: -12px;
			width: 22px;
			height: 19px;
			top: 6px;
			position: relative;
		}
	}

	// Formation
	li:nth-of-type(2) .sub-menu > li:first-of-type {
		&:before {
			background: url('/wp-content/uploads/2014/09/icon_Futur_entrepreneur.png') center/103% no-repeat;
			content: '';
			display: inline-block;
			margin-left: 15px;
			margin-right: -12px;
			width: 22px;
			height: 19px;
			top: 6px;
			position: relative;
		}
	}

	// Investir
	li:nth-of-type(4) .sub-menu > li:first-of-type {
		&:before {
			background: url('/wp-content/uploads/2014/09/icon_Donateur.png') center/110% no-repeat;
			content: '';
			display: inline-block;
			margin-left: 15px;
			margin-right: -12px;
			width: 22px;
			height: 19px;
			top: 6px;
			position: relative;
		}
	}

	// Rec acquis
	li:nth-of-type(3) .sub-menu > li:first-of-type {
		&:before {
			background: url('/wp-content/uploads/2014/09/icon_Professionnel_immigrant.png') center/110% no-repeat;
			content: '';
			display: inline-block;
			margin-left: 15px;
			margin-right: -12px;
			width: 22px;
			height: 19px;
			top: 6px;
			position: relative;
		}
	}
}

#menu-second > li > a, #menu-second-anglais0 > li > a {
	text-align: center;
}

.search-expand-inner {
	background: rgba(0, 0, 0, 0.15);
	padding: 9px;
}

#header, #nav-topbar.nav-container {
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	padding: 0;
}

#nav-header.nav-container {
	box-shadow: none;
}

#page.container {
	background: none;
	border: none;
	box-shadow: none;

	.container-inner {
		background: none;
		border: none;
		box-shadow: none;

		.main {
			background: none;
			border: none;
			box-shadow: none;
		}
	}

	h1.page-title {

	}
}

[title="financement"] {
	background: #adbd37;
	&.hover {
		border-bottom: 7px solid #adbd37;
		margin-bottom: -7px;
	}
}

[title="formation"] {
	background: #5772a3;
	&.hover {
		border-bottom: 7px solid #5772a3;
		margin-bottom: -7px;
	}
}

#menu-second a[title="reconnaissance"], #menu-second-anglais0 a[title="reconnaissance"] {
	background: #ec7323;
	padding: 4.5px 15px;
	position: relative;
	top: 8px;
	line-height: 16px;

	&.hover {
		border-bottom: 8px solid #ec7323;
		margin-bottom: -8px;
	}
}

[title="investir"] {
	background: $grey;

	&.hover {
		border-bottom: 7px solid $grey;
		margin-bottom: -7px;
	}
}

#menu-second a:after, #menu-second-anglais0 a:after {
	display: none;
}

#sub-menu-box {
	width: 100%;
	height: 40px;
	background: #000;
	position: relative;
	top: 0px;
	transition: .3s;
	text-align: right;
}

#menu-second > li:nth-of-type(3) ul, #menu-second-anglais0 > li:nth-of-type(3) ul {
	top: 51px;
}

#sub-menu-box a {
	position: relative;
	top: 8px;
	&:last-of-type {
		margin-right: 10px;
	}
}

ul.sub-menu {
	width: 740px;
	text-align: left;
	//display: none;
	background: none !important;
	box-shadow: none;
	top: 42px;
}

.sub-menu li {
	display: inline;
}

#menu-second .sub-menu li, #menu-second-anglais0 .sub-menu li {
	&:first-of-type {
		a {
			margin-left: 15px;
		}
	}

	&:last-of-type {
		a {
			background: none;
		}
	}

	a {
		display: inline;
		padding: 0 7px 0 5px;
		font-size: 13px;
		margin-right: -9px;
		background: url("/wp-content/themes/leweb_custom_child/img/menu-separator.gif") right center no-repeat;
	}

	img {
		float: left;
		position: relative;
		top: -4px;
		left: 4px;
		margin-right: -3px;
	}
}

/*#menu-second .sub-menu li:after {
    content: "|";
    position: relative;
    font-size: 20px;
}*/

.nav {
	ul li {
		position: relative;
		display: inline;
	}

	li {
		&:hover > ul, > ul {
			display: none;
		}
	}
}

.pad.group {
	padding: 22px 0;
}

.large img {
	width: 100%;
}

.bande-couleur {
	background-image: url('/wp-content/uploads/2014/09/bande_couleurs.png');
	width:100%;
	height:5px;
	margin-bottom: 3px;
	display:block;
	background-size: cover;
}

#footer {
	background: none !important;
	min-width: 840px;

	.footer-content {
		max-width: 890px;
		margin: -3px auto 0;
		box-sizing: border-box;
		background: white;
		padding: 15px 25px;
		color: $offBlack;
		font-size: 80%;
		vertical-align: top;
		display: table;
	}

	.infos {
		display: table-cell;
		vertical-align: top;
		width: 33%;
		padding-right: 40px;

		.logo {
			height: 120px;
		}

		p {
			margin: 5px 0;
			line-height: 120%;
		}

		.sitename {
			font-weight: bold;font-size: 120%;
		}
	}

	.footer-menu {
		display: table-cell;
		vertical-align: top;
		width: 40%;

		li {
			line-height: 125%;
			margin-top: 5px;
		}

		.cols {
			columns: 2;
			-moz-columns: 2;
			-webkit-columns: 2;
		}
	}

	.social {
		display: table-cell;
		vertical-align: top;
		width: 35%;

		.social-icon {
			font-size: 150%;
			margin-right: 4px;
		}

		.infolettre {
			margin: 10px 0;
			display: block;
			width: 100%;
			font-size: 120%;
			font-weight: bold;
			padding: 5px;
			border-radius: 2px;

			&:hover {
				background-color: #eee;
				box-shadow: 0 2px 3px #aaa;
			}

			img {
				margin-top: 5px;
				width: 36px;
				float: right;
			}
		}

		.logo-rqcc {
			display: block;
			margin-top: 8px;
		}
	}

	h1 {
		font-size: 130%;
		margin-bottom: 10px;
	}

	a {
		color: $offBlack;
		text-decoration: none;

		&:hover {
			color: black;
		}
	}

	.container-inner {
		width: 800px;
	}
}

.contributeurs {
	.slider-contributeurs {
		width: 100%;
		.image {
			padding: 0 20px;
			display: block !important;
		}
	}
}

#footer-bas {
	text-align: center;
	padding: 15px;
	background: #999;
	color: white;
	min-width: 840px;
	font-size: 80%;

	a {
		&:hover {
			text-decoration: underline;
		}
	}
}

#footer-widgets {
	background: #eee;
}

.widget h3 {
	text-transform: none;
	font-weight: bold;
}

.textwidget td {
	width: 40%;
}

#nav-header .nav ul li {
	box-shadow: none;
}

.vc_col-sm-3 {
	width: 24% !important;
}

.vc_col-sm-6 {
	/* width: 49%!important;*/
}

//.entry ul {
//	margin-left: 0;
//}

.entry p {
	margin-bottom: 15px;
}

.line {
	height: 1px;
	width: 100%;
	margin: 15px 0;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAABCAYAAAD0In+KAAAAEUlEQVQIW2NMSEj4v2DBAkYAEo4EAp8d3WQAAAAASUVORK5CYII=) repeat;
}

/**** Doownload ****/

.dlm-downloads li {
	list-style: none !important;
}

.dp_download-box {
	width: 100%;
	padding: 10px;
}

.dp_doc_box {
	border-bottom: 1px solid #666;
	margin-bottom: 15px;
}

.dp_doc_date {
	color: #666;
}

.dp_doc_title {
	text-transform: uppercase;
	color: #000;
}

.dp_doc_content {
	display: table;
	border-bottom: 1px dotted #666;
	width: 100%;
}

.dp_doc_image {
	width: 120px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	img {
		width: 60px;
	}
}

.dp_doc_desc {
	display: table-cell;
	vertical-align: text-top;
}

.dp_post_image {
	float: left;
	img {
		width: 120px;
		padding: 0 10px 10px 0;
	}
}

.entry .vc_col-sm-6 {
	display: table-cell;
	float: none;
}

/**** Evenements ****/

.dp_event_short {
	box-sizing: border-box;
	width: 33%;
	float: left;
	padding-left: 20px;
	text-transform: uppercase;
	&:nth-of-type(2) {
		border-left: 1px solid #999;
		border-right: 1px solid #999;
	}
	img {
		width: 80%;
		margin-top: 20px;
	}
}

.single-event .page-title {
	display: none;
}

.home.page .vc_row {
	display: inline-flex;
}

/**** Disable comments ****/

#comments {
	display: none;
}

/**** non responsive ****/

#wrapper, #footer .container-inner {
	min-width: 840px;
	max-width: 840px;
}

.container-inner {
	max-width: 100%;
	min-width: 100%;
}

#footer {
	.container-inner {
		margin: 0 auto;
	}
	.pad.group {
		padding-rigth: 20px;
		padding-left: 20px;
	}
}

/**** pages ****/

#page.container {
	box-sizing: border-box;
	margin-top: 15px;
	background: #fff;
	padding: 20px;
	border-top: 4px solid black;
}

.page-title {
	text-align: center;
	font-size: 22px;
	border: none;
	border-bottom: 2px solid $separateurs;
	padding: 0 0 14px 0;
	background: none;
	box-shadow: none;
	margin-bottom: 25px;
}

#nav-header .container {
	padding: 0;
}

/**** exceptions accueil et page ??? ****/

.home.page .page-title, .page-id-185 .page-title {
	display: none;
}

.home.page #wrapper #page.container, .page-id-185 #page.container {
	border: none !important;
	background: transparent !important;
	padding: 20px 0 !important;
}

.home.page .content, .page-id-185 .content {
	margin-top: -58px !important;
}

.home.page .wpb_row {
	margin-bottom: 0;
}

/**** testimonials ****/

.strong-container {
	border-top: 1px dotted #666;
	border-bottom: 1px dotted #666;
	.photo {
		width: 45%;
		padding-bottom: 36%;
		background-size: cover !important;
		background-position: 50% 50%;
	}
	.inner {
		background: none !important;
		padding: 0 !important;
	}
	.testimonial {
		border: 0px !important;
	}
	.heading {
		font-size: 22px;
		background-image: none !important;
		margin-bottom: 0;
		padding: 0 !important;
	}
	.client {
		text-align: left !important;
		width: 420px;
		float: right;
		border-bottom: 1px dotted #666;
		margin-top: 5px !important;
		padding-bottom: 10px;
	}
	.simplePagerNav {
		a {
			border: 1px solid #3b8dbd;
			padding: 10px;
			border-radius: 3px;
		}
		.currentPage a {
			background: #3b8dbd;
			color: #fff;
		}
	}
	.name {
		color: #adbd37;
		margin-bottom: 5px;
	}
	.client p {
		font-size: 16px;
		margin-bottom: 0px;
	}
	a {
		color: #adbd37;
	}
}

/**** slider ****/

.tp-caption {
	h2 {
		font-size: 20px;
	}
	p {
		font-size: 18px;
	}
}

/* Pages sections*/
.page-template-section #page.container {
	border: none;
	border-top: none;
	background: none;
	padding-left: 0;
	padding-right: 0;

	box-sizing: border-box;

	.cols {
		margin-bottom: 30px;

		.col {
			display:inline-block;
			width:45%;
			padding: 10px;
			background: white;
			margin:0;

			&.col-right {
				float:right;
			}
		}
	}

	h1 {
		text-transform: uppercase;
		text-align: center;
		font-size: 18px;
		color: $offBlack;
		border-bottom: 2px solid $separateurs;
		padding: 0 0 10px 0;
		margin-bottom: 10px;
	}

	.full-width {
		padding: 10px;
		background: white;
		margin-bottom: 30px;
	}
}

.items {
	.item {
		margin: 15px 0;

		&:last-of-type {
			margin-bottom:0;
		}

		.date {

		}

		.content {
			margin: 10px 0;
		}

		h2 {
			display: inline;
			text-transform: uppercase;
			a {
				color: $offBlack;
				&:hover {
					color: black;
				}
			}
		}

		.more {
			border-top: 2px solid $separateurs;
			border-bottom: 2px solid $separateurs;
			padding: 4px 0;

			.jumplink {
				margin-right: 10px;
				color: inherit;

				&:hover {
					color: black;
				}

				&:before {
					content: "> "
				}
			}
		}
	}
}

.clienteles {
	display: table;
	table-layout: fixed;
	border-spacing: 15px 0;
	margin: 15px -15px 25px;
	border-collapse: separate;


	.clientele {
		display: table-cell;
		width: 25%;
		text-align: center;
		color: white;
		padding: 10px 5px;
		font-size:80%;

		.name {
			font-weight: bold;

		}
	}
}

.center {
	text-align: center;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.home-content {
	.home-slider {
		width:100%;
		background-color: white;
		height: 300px;
	}



	.bottom-info {
		display: table;
		border-collapse: separate;
		border-spacing: 15px 0;
		margin: 0 -15px;

		& > div {
			width: 50%;
			display: table-cell;
			padding: 15px;
			background: white;
		}

		.welcome {
			h1 {
				color: $green;
			}
		}
	}

	h1 {
		text-transform: uppercase;
		text-align: center;
		font-weight: normal;
		font-size: 18px;
		color: $offBlack;
		border-bottom: 2px dotted $separateurs;
		padding: 0 0 10px 0;
		margin-bottom: 10px;
	}
}

.centre-documentation {
	h2 {
		color: $offBlack;
		text-transform: uppercase;

		a {
			color: $offBlack;
		}

		&:after{
			content: '';
			display: block;
			height: 2px;
			width: 100%;
			background-color: $offBlack;
			margin-top: -6px;
		}
	}

	.content {
		margin: 20px 0;
	}

	.documents {
		columns: 3;
		-moz-columns: 3;
		-webkit-columns: 3;

		column-gap: 20px;
		-moz-column-gap: 20px;
		-webkit-column-gap: 20px;

		&.no-col {
			columns: 1;
			-moz-columns: 1;
			-webkit-columns: 1;
		}

		.items {
			break-inside: avoid-column;
			-webkit-column-break-inside: avoid;

			a.all {
				display: block;
				color: $offBlack;
				font-size: 80%;
			}

			.item {
				border-bottom: 1px dotted $separateurs;
				padding-bottom: 15px;

				&:last-of-type {
					border-bottom: none;
				}

				.title {
					font-weight: bold;
					color: $orange;
				}

				.ext {
					font-size: 75%;
					margin-top: -4px;
				}

				.link {
					color: $green;
				}
			}
		}
	}

	.document {
		.download {
			background-color: $green;
			color: white;
			padding: 10px;
			margin: 10px 0;
			display: inline-block;
			width: auto;
			font-weight: bold;

			&:hover {
				background-color: lighten($green,10);
			}
		}

		.description {
			margin-top: 10px;
			padding-top: 10px;
			border-top: 2px dotted $separateurs;
		}
	}
}

.partenaires {
	.liste-partenaires {
		columns: 2;
		-moz-columns: 2;
		-webkit-columns: 2;

		column-gap: 10px;
		-moz-column-gap: 10px;
		-webkit-column-gap: 10px;

		margin-top: 30px;

		.partenaire {
			break-inside: avoid-column;
			-webkit-column-break-inside: avoid;
			padding-bottom: 30px;

			.logo {
				display: table-cell;
				width: 150px;
				height: 150px;
				float: left;
				margin-right: 10px;
				text-align: center;

				img {
					max-width: 100%;
					max-height: 100%;
				}
			}

			.title {
				font-weight: bold;
				color: $offBlack;
				margin-bottom: 5px;
			}

			.link {
				margin-top: 5px;

				a {
					color: $green;
					font-weight: bold;
				}
			}

			.infos {
				margin-left: 170px;
			}
		}
	}
}

.container-slider-testimonials {
	width: 840px;
	height: 300px;
	position: relative;
	margin:0;
	padding:0;

	.type-content {
		position: absolute;
		bottom: 20px;
		left: 25px;
		font-size: 80%;
		color: rgba(0,0,0, 0.4);
		margin:0;
		padding:0;
	}

	.slider-testimonials {
		margin:0;
		padding:0;
		overflow: hidden;

		.slick-dots {
			position: absolute;
			bottom: 9px;
			left: 25px;

			li {
				display: inline-block;
				margin-right: 6px;

				button {
					display: block;
					background-color: rgba(0,0,0, 0.3);
					font-size: 0;
					border: none;
					height: 6px;
					width: 20px;
					transition-property: background-color;
					transition-duration: 1s;
					cursor: pointer;
				}

				&.slick-active {
					button {
						background-color: rgba(0,0,0, 0.6)
					}
				}
			}
		}

		.testimonial {
			margin-left: -1px;
			width: 840px;
			height: 300px;
			position: relative;
			background-color: #005299;
			overflow: hidden;

			.image {
				position: absolute;
				height: 300px;
				right: 0;
			}

			.infos {
				position: absolute;
				max-height: 300px;
				padding: 35px 25px;
				width: 400px;

				h2 {
					color: $offBlack;
					font-weight: normal;
					text-transform: uppercase;
					font-size: 105%;
				}

				.name {
					color: $green;
					font-weight: bold;
				}

				.link {

				}

				.quote {
					margin: 10px 0;
				}
			}

			.matte-background {
				background: white;
				height: 400px;
				width: 500px;
				position: absolute;
				transform-origin: 50% 50%;
				transform: translate(-30px, -40px) rotate(-10deg);
				-ms-transform-origin: 50% 50%;
				-ms-transform: translate(-40px, -40px) rotate(-10deg);
				-webkit-box-shadow: 0px 0px 15px 0px rgba(5,5,5,0.33);
				-moz-box-shadow: 0px 0px 15px 0px rgba(5,5,5,0.33);
				box-shadow: 0px 0px 15px 0px rgba(5,5,5,0.33);
			}
		}
	}
}

.testimonials-header {
	padding: 10px 10px 0;

	background: white;

	h1 {
		margin-bottom: 0 !important;
		border-bottom: none !important;
	}
}
.testimonials-margins {
	margin: 0 0 25px;
}

.all-news {
	font-size: 90%;
	.item {
		border-bottom: 1px dotted $separateurs;
		padding: 7px 0;

		.date {
			font-weight: normal;
			color: #666;
			margin-right: 4px;
		}

		.icon {
			margin-right: 4px;
			color: $blue;
		}

		h2 {
			font-weight: normal;
			text-transform: uppercase;

			a {
				color: $offBlack;
			}
		}

		&:last-of-type {
			border-bottom: none;
			padding-bottom: 0;
		}
	}
}


.evenement {
	.masthead {
		width: 100%;
		display: table;
		table-layout: fixed;
		border-collapse: separate;
		border-spacing: 0;
		font-size: 95%;

		.infos {
			vertical-align: top;
			display: table-cell;
			width: 40%;

			.contents {
				display: block;
				border: 2px solid $green;
				padding: 0;

				h2 {
					text-transform: uppercase;
					background-color: $green;
					color: white;
					padding: 4px;
					text-align: center;
				}

				div {
					display: block;
					position: relative;
					border-bottom: 1px solid $separateurs;
					padding: 4px 8px;
					font-weight: bold;
					text-transform: uppercase;

					&.clearfix:after {
						content: "";
						display: block;
						clear: both;
					}

					&:last-of-type {
						border-bottom: none;
					}

					.value {
						text-transform: none;
						float: right;
						color: $offBlack;
					}
				}
			}
		}

		.spacer {
			display: table-cell;
			width: 20px;
		}

		.image {
			display: table-cell;
			padding:0;
			margin:0;
			width: 60%;
			background-position: center;
			background-size: cover;
		}
	}

	.description {
		margin-top: 30px;

		h2 {
			margin-bottom: 15px;
		}

		p {
			margin-top: 8px;
		}
	}
}

h2.underlined {
	color: $offBlack;
	text-transform: uppercase;

	a {
		color: $offBlack;
	}

	&:after{
		content: '';
		display: block;
		height: 2px;
		width: 100%;
		background-color: $offBlack;
		margin-top: -6px;
	}
}


.archive-evenements {
	.evenements {
		.evenement {
			padding-bottom: 20px;
			margin-bottom: 20px;
			border-bottom: 1px dotted $separateurs;

			&:last-of-type {
				border-bottom: none;
			}

			.infos {
				margin-left: 270px;
			}

			.coverimage {
				width: 250px;
				float: left;
			}

			h2 a {
				color: $offBlack;
			}

			.date, .location {
				color: $green;
			}

			.excerpt {
				margin: 5px 0;
			}

			.more a {
				color: $green;
				font-weight: bold;
			}
		}
	}
}


.section-events {
	width: 100%;
	display: table;
	table-layout: fixed;
	border-collapse: collapse;

	.event {
		display: table-cell;
		width: 33%;
		border-right: 1px dotted $separateurs;
		padding: 0 10px;

		&:last-of-type {
			border-right: none;
		}

		h2 a {
			color: $offBlack;
		}

		.date, .location {
			font-size: 80%;
		}
	}
}

.see-all {
	display: block;
	width: 100%;
	text-align: center;
	margin-top: 10px;
	border-top: 1px solid $separateurs;
	padding-top: 8px;
	font-weight: bold;
}


.toc {
	border: 2px solid $green;
	width: 250px;
	margin-right: 25px;
	margin-bottom: 10px;
	float: left;
	font-size: 90%;

	.title {
		text-transform: uppercase;
		font-weight: bold;
		color: white;
		background: $green;
		text-align: center;
		padding-bottom: 2px;
	}

	.toc-item {
		display: block;
		position: relative;
		border-bottom: 1px solid $separateurs;
		padding: 4px 8px;
		font-weight: bold;
		color: $offBlack;

		&:hover {
			background-color: transparentize($separateurs,0.85);
			color: darken($green,10);
		}

		&:last-of-type {
			border-bottom: none;
		}

		&.toc-h3 {
			padding-left: 16px;
		}

		&.toc-h4 {
			padding-left: 26px;
		}
	}
}

.text {
	font-size: 16px;

	h1, h2, h3, h4, h5, h6 {
		color: $offBlack;
		text-transform: uppercase;
		margin: 10px 0;
		font-weight: bold;

		a {
			color: $offBlack;
		}
	}

	h2 {
		font-size: 135%;
	}

	h3 {
		font-size: 110%;
	}

	h4 {
		font-size: 100%;
	}

	p {
		margin-bottom: 10px;
	}
}

.contact {
	.contents {
		display: table;
		table-layout: fixed;
		line-height: 125%;
		width: 100%;

		h2 {
			margin-top: 20px;
			color: $offBlack;
			text-transform: uppercase;
			font-size: 18px;

			&:first-of-type {
				margin-top: 0;
			}

			&:after{
				content: '';
				display: block;
				height: 2px;
				width: 100%;
				background-color: $offBlack;
				margin-top: -3px;
			}
		}

		.text {
			display: table-cell;
			width: 300px;

			p {
				margin-bottom: 8px;
			}

			strong {
				color: $offBlack;
			}

			a {
				font-weight: bold;
				color: $orange;
			}
		}

		.map-container {
			display: table-cell;
			padding-left: 40px;

			.acf-map {
				width: 100%;
				height: 400px;
				border: #ccc solid 1px;
				margin: 20px 0;
			}

			/* fixes potential theme css conflict */
			.acf-map img {
				max-width: inherit !important;
			}
		}
	}
}


.salle-de-presse {
	.content {
		margin-bottom: 25px;
	}

	.container {
		display: table;
		table-layout: fixed;
		width: 100%;

		.left-content {
			display: table-cell;
			width: 280px;
		}

		.right-content {
			display: table-cell;
			width: auto;
			padding-left: 30px;
		}
	}

	.all {
		font-size: 85%;
		color: $offBlack;
		margin-bottom: 10px;
		display: table;
	}

	.recent-events {
		.event {
			margin-top: 20px;
			padding-bottom: 10px;
			border-bottom: 1px dotted $separateurs;

			&:last-of-type {
				border-bottom: none;
			}

			.title {
				color: $offBlack;
				font-weight: bold;
			}

			.date {
				font-size: 85%;
			}

			.content {
				margin: 4px 0;
			}

			.link {
				color: $green;
			}
		}
	}
}

.press-releases {
	.item {
		line-height: 120%;
		padding-bottom: 10px;
		margin-bottom: 10px;
		border-bottom: 1px dotted $separateurs;

		&:last-of-type {
			border-bottom: none;
		}

		.title {
			font-weight: bold;
			color: $offBlack;
		}

		.infos {
			font-size: 85%;
		}

		.excerpt {
			margin: 4px 0;
		}

		.more {
			color: $green;
		}
	}
}

.single-presse {
	.download {
		margin-top: 10px;
		display: inline-block;
		background-color: $green;
		color: white;
		font-weight: bold;
		padding: 8px 10px;
		min-width: 250px;
		text-align: center;

		&:hover {
			background-color: lighten($green, 5);
		}
	}

	.content {
		border-top: 1px solid $separateurs;
		margin-top: 20px;
		padding-top: 15px;
	}
}


.post-single {
	.publish-date {
		margin-top: -10px;
	}

	.text {
		margin-top: 10px;
		padding-top: 10px;
		border-top: 1px dotted $separateurs;
	}

	.next-prev {
		margin-top: 20px;
		border-top: 1px dotted $separateurs;

		.title {
			padding: 5px;
			text-align: center;
			text-transform: uppercase;
			color: $offBlack;
			border-bottom: 1px dotted $separateurs;
		}

		.prev {
			border-right: 1px dotted $separateurs
		}

		.both {
			display: table;
			table-layout: fixed;
			width: 100%;

			.prev, .next {
				display: table-cell;
				width: 40%;
				padding: 10px;
				text-align: center;
				border-bottom: 1px dotted $separateurs;
			}
		}
	}
}

.section-tags {
	margin: 4px 0;

	i {
		position: relative;
		margin-right: 6px;
		color: darken($separateurs,5);
		top: 2px;
	}

	.tag {
		font-size: 80%;
		color: white;
		font-weight: bold;
		padding: 2px 3px;
		line-height: 100%;
		margin-right: 5px;
	}
}


.search-results {
	width: 100%;

	.result {
		padding: 15px 0px;
		border-bottom: 1px dotted $separateurs;
	}
}

span.loc-post-type {
	font-weight: normal;
	color: #aaa;
}
